body {
  font-family: helvetica, sans-serif;
  font-weight: 300;
}
.container {
  width: 970px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #1672B9;
}
a:hover {
  color: #7E7E7E;
}
a:visited {
  color: #1672B9;
}
.main-header {
  padding-top: 12px;
  padding-bottom: 12px;
}
.main-header .logo {
  width: 275px;
  height: auto;
}
.main-header .forum-nav,
footer .footer-nav {
  list-style: none;
  padding: 0;
  float: right;
}
.main-header .forum-nav {
  margin-top: 40px;
}
.main-header ul li,
footer ul li {
  display: inline-block;
  margin-right: 10px;
}
.sub-header-wrapper {
  background-color: #003e7e;
  padding-top: 1px;
  padding-bottom: 1px;
}
.sub-header h2 {
  color: white;
  font-weight: 300;
}
.main-wrapper {
  background-color: #E7E7E7;
  padding: 20px;
}
.main {
  background-color: white;
  height: 400px;
  border-radius: 5px;
}
footer {
  border-top: 2px solid #003e7e;
}
footer .copyright {
  float: left;
}